.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.header{
  background: rgba(63, 63, 63, 0.404);
}
.bgHinhAnh{
  background-color: #6fa2b186;
  /* background: url(../public/img/background.jpg); */
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.products .row img {
  width: 55%;
}
.btnProducts img{
  width: 25%;
}
.btnProducts .btn{
  width: 25%;
}
.container .products .row .col-6 .hinhAnhUI{
  position: absolute;
  left: 182px;
  top: 70px;
  width: 30%;
}
.container .products .row .col-6 .textHienThi{
  position: absolute;
  left: 125px;
  bottom: 0px;
  width: 52%;
  background: #fab27f75;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
